.section-gap {
  padding: 100px 0;
}
.history-tab-wrapper {
  margin-top: 40px;
  background: #fff;
  position: relative;
}

.history-tab-wrapper:after {
  content: "";
  background: #f2f5f7;
  width: 100%;
  height: 30px;
  top: 0;
  left: 0;
  position: absolute;
}

.tab-thumb {
  padding: 0 0 30px 30px;
  position: relative;
  z-index: 2;
}

@media (max-width: 575px) {
  .tab-thumb {
    padding: 0;
  }
}
.tab-total-content {
  padding: 70px 0 30px 0;
}

@media (max-width: 991px) {
  .tab-total-content {
    padding: 30px;
  }
}

.tab-total-content .single-content h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.ilene-tabs .nav-item {
  line-height: 40px;
  padding: 0 25px;
  border: 1px solid #eee;
  border-radius: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .ilene-tabs .nav-item {
    margin-top: 10px;
  }
}

.our-tabs .nav-item:last-child {
  margin-right: 0;
}

.our-tabs .nav-item span {
  margin-right: 10px;
  color: #8460f6;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 14px;
}

.our-tabs .nav-item:hover {
  background: #8460f6;
  color: #fff;
  border: 1px solid transparent;
}

.our-tabs .nav-item:hover span {
  color: #fff;
}

.our-tabs .nav-item.active {
  background: #8460f6;
  color: #fff;
  border: 1px solid transparent;
}

.our-tabs .nav-item.active span {
  color: #fff;
}

.akshittabs {
align-items: center;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(132, 96, 246);
background-image: none;
background-origin: padding-box;
background-position: 0% 0%;
background-position-x: 0%;
background-position-y: 0%;
background-repeat: repeat;
background-size: auto auto;
border-bottom-color: rgba(0, 0, 0, 0);
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0;
border-image-repeat: stretch stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgba(0, 0, 0, 0);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgba(0, 0, 0, 0);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgba(0, 0, 0, 0);
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(255, 255, 255);
display: flex;
font-family: "Poppins", sans-serif;
font-size: 12px;
font-weight: 500;
line-height: 40px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-right: 10px;
outline-color: rgb(255, 255, 255);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 25px;
padding-right: 25px;
padding-top: 0px;
text-decoration: none;
text-decoration-color: rgb(255, 255, 255);
text-decoration-line: none;
text-decoration-style: solid;
text-transform: uppercase;
transition-delay: 0s;
transition-duration: 0.3s;
transition-property: all;
transition-timing-function: ease;
-moz-box-align: center;
-moz-osx-font-smoothing: grayscale;
}